[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
django-bootstrap-v5 = "*"
django-datatables-view = "*"

[dev-packages]

[requires]
python_version = "3.9"
