.bg-l11 {
    background-color: rgba(26,153,0,1) !important;
}

.bg-l11a {
    background-color: rgba(26,153,0,1) !important;
}

.bg-l11b {
    background-color: rgba(225,77,255,1) !important;
}

.bg-l12 {
    background-color: rgba(255,213,0,1) !important;
}

.bg-l12a {
    background-color: rgba(255,213,0,1) !important;
}

.bg-l12b {
    background-color: rgba(255,128,0,1) !important;
}

.bg-l13 {
    background-color: rgba(25,102,255,1) !important;
}

.bg-l14 {
    background-color: rgba(255,128,0,1) !important;
}