{% extends "base.html" %}
{% load line_colors %}
{% load utils %}
{% block content %}
    {% if working_shift %}
        <div class="d-flex flex-row justify-content-start align-items-center">
            <div class="col-auto p-1">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           disabled
                           value="{{ working_shift.specialist_vc1|get_fullname }}"/>
                </div>
            </div>
            <div class="col-auto p-1">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           disabled
                           value="{{ working_shift.specialist_vc2|get_fullname }}"/>
                </div>
            </div>
            <div class="col-1 p-1">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-clock-history"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           disabled
                           value="{{ working_shift.shift|short_shift }}"/>
                </div>
            </div>
            <div class="col-1 p-1">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-people"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           disabled
                           value="{{ working_shift.team }}"/>
                </div>
            </div>
            <div class="col-2 p-1">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-calendar3"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           disabled
                           value="{{ working_shift.date|date:"d/m/y" }}"/>
                </div>
            </div>
            <div class="col-2 p-1">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-key"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           disabled
                           value="{{ working_shift.id }}"/>
                </div>
            </div>
        </div>
    {% else %}
        <div class="d-flex flex-row justify-content-start align-items-center border border-danger">
            <div class="col-12 p-1">
                <div class="row m-1">
                    <a href="{% url "working:shift-change" %}" class="btn btn-danger">¡Iniciar turno!</a>
                </div>
            </div>
        </div>
    {% endif %}
    <hr/>
    <label for="productions" class="form-label">Modelos:</label>
    <div id="productions" class="d-flex flex-column justify-content-evenly">
        <ul class="list-group">
            {% for production in object_list %}
                <li class="list-group-item">
                    <span class="badge w-5 {{ production.line|line_color }}">{{ production.line }}</span> {{ production.model }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}∫